<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple To-Do App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <style>
        .container {
            max-width: 1000px;
            margin: 0 auto;
            padding: 20px;
        }

        .jumbotron {
            padding: 20px;
            margin-bottom: 20px;
            transition: all 0.3s ease;
        }

        .add_item {
            flex: 0 0 auto;
            transition: all 0.3s ease;
        }

        .add_item:hover {
            transform: scale(1.05);
        }

        #create_field,
        .btn {
            transition: all 0.3s ease;
        }

        #create_field:focus,
        .btn:hover {
            transform: translateY(-3px);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        @keyframes fadeOut {
            from {
                opacity: 1;
            }

            to {
                opacity: 0;
            }
        }

        .item {
            animation: fadeIn 0.5s ease forwards;
            margin-bottom: 10px;
        }

        .item.remove {
            animation: fadeOut 0.5s ease forwards;
        }

        .show_more {
            background-color: #007bff;
            border-color: #007bff;
            border-radius: 5%;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="display-4 text-center py-1">To-Do App</h1>

        <div class="jumbotron shadow-sm">
            <div class="d-flex align-items-center">
                <input id="create_field" name='todo' autofocus autocomplete="off" class="form-control mr-3" type="text">
                <button class="add_item btn btn-primary">Add New Item</button>
            </div>
        </div>

        <ul id="item_list" class="list-group">
            <!-- To-Do Items will be dynamically added here -->
        </ul>
        <br />

        <button class=" btn show_more">Show More</button>
        <br />
        <br />

        <form action='/logout' method="POST">
            <button class="btn btn-danger">Logout</button>
        </form>
        <br />
        <form action='/logout_from_all_devices' method="POST">
            <button class="btn btn-danger">Logout from all devices</button>
        </form>

    </div>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script src="/browser.js"></script>
</body>

</html>